@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*:before,
*:after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: #ffffff;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}

.container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem; // footer height
}

.wave {
    margin-top: 0;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > *:not(:first-child) {
        width: 70%;
    }

    &__heading {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 2.5rem;
        width: 100%;
        text-align: center;
    }

    input, textarea {
        color: #838383;
        font-family: 'Montserrat', sans-serif;
        &:hover {
            background-color: #3d3d3d;
        }

        &:focus {
            border-color: #0083B0;
            outline-color: #00B4DB;
        }
    }

    input {
        background-color: #212121;
        padding: .5rem 0;
        padding-left: .8rem;
        border: 1px solid #212121;
        border-radius: 4px;

        
    }

    &__remarks, &__house-number {
        display: flex;
        flex-direction: column;
        label {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: .9rem;
            margin: .5rem 0;
            font-size: .7rem;
        }

        label:last-of-type {
            margin-top: .7rem;
        }
    }

    &__remark {
        width: 100%;
        resize: none;
        border: 1px solid #212121;
        border-radius: 4px;
        background-color: #212121;
        text-align:left;
        color: #838383;
        padding: 1rem 1.5rem;
    }

    &__number {
        width: 40%;
        margin-bottom: 1rem;
    }

    .btn-submit {
        width: 70%;
        background: linear-gradient(to right, #00B4DB, #0083B0);
        padding: .6rem 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .7rem;
        letter-spacing: 2.5px;

        &:hover {
            background: linear-gradient(to right, #00B4DB, #FFFDE4);
        }
    }
}

.remarks {
    margin-top: 5rem;
    width: 100%;
    margin-bottom: 4rem;
    &__remark {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1.5rem;
        width: 100%;
        &:nth-of-type(odd) {
            background-color: #212121;
        }
    }

    &__number {
        color: #838383;
    }

    &__paragraph {
        margin-top: 1rem;
        font-size: .95rem;
        font-weight: 400;
        text-align: center;
    }

    &__time {
        color: #595959;
        display: block;
        font-weight: 300;
        margin-top: .7rem;
        font-size: .85rem;
        text-align: center;
    }
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    color: #444444;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .65rem;
    letter-spacing: 3px;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

// MEDIA QUERIES

@media screen and (min-width: 600px) {
    .form {
        
        & > *:not(:first-child) {
            width: 85%;
        }
    }
}


@media screen and (min-width: 800px) {
    .wave {
        margin-bottom: 2rem;
    }

    .form {
        
        & > *:not(:first-child) {
            width: 100%;
        }
        
    }

    footer {
        font-size: .8rem;
    }
}


@media screen and (min-width: 1000px) {
    

    .form {
        width: 60%;
        &__remarks, &__house-number {
            label {
                font-size: 1rem;
            }
        }
    }
}


@media screen and (min-width: 1800px) {
    .wave {
        height: 60%;
        margin-top: -7rem;
    }
}